<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bedding</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body style="background: fixed white;">
    <header>
        <% if (locals.user) { %>
            <h2 class="logo">Welcome, <%= user.username %>!</h2>
            <nav class="navigation">
                <a href="http://localhost:3000/?username=<%= user.username %>">Home</a>
                <a href="http://localhost:3000/About?username=<%= user.username %>">About</a>
                <a href="#">Contact</a>
                <a href="http://localhost:3000/succulents?username=<%= user.username %>">Succulent</a>
                <a href="http://localhost:3000/beddings?username=<%= user.username %>">Bedding</a>
                <button class="btnLogin-popup" onclick="location.href='http://localhost:3000/cart?username=<%= user.username %>';" >Cart</button>
            </nav>  
        <% } else { %>
            <h2 class="logo">Plant Store</h2>
            <nav class="navigation">
                <a href="http://localhost:3000/">Home</a>
                <a href="http://localhost:3000/About">About</a>
                <a href="#">Contact</a>
                <a href="http://localhost:3000/succulents">Succulent</a>
                <a href="http://localhost:3000/beddings">Bedding</a>
                <button class="btnLogin-popup">Login</button>
            </nav>
        <% } %>
    </header>

        <!--This is will the filter will go -->



        <!--End of filter-->

        <!--grid-->
    
    <div class="container align-content-center">
        <div class="row">
            <div class="col">
                <div class="align-content-center">
                    <div>
                    <% if (locals.user) { %>
                        <a href="plant?username=<%=user.username%>&id=marigolds" >
                    <% } else { %>
                        <a href="plant?id=marigolds">
                    <% } %>
                            <img class = "rounded mx-auto d-block"  src="../img/bedding/marigolds.jpg" alt="Marigolds"  height="300" width= "350">
                        </a>
                       
                    </div>
                   
                    <h1 class="text-center">Marigolds</h1>
                    <h2 class="text-center">Price: $.50</h2>
                </div>
            </div>
            <div class="col">
                <div class="align-content-center">
                    <div>
                    <% if (locals.user) { %>
                        <a href="plant?username=<%=user.username%>&id=gazania" >
                    <% } else { %>
                        <a href="plant?id=gazania">
                    <% } %>
                            <img class = "rounded mx-auto d-block" src="../img/bedding/gazania.jpg" alt="gazania"  height="300" width= "350">
                        </a>
                    </div>
                    <h1 class="text-center">Gazania</h1>
                    <h2 class="text-center">Price: $1.00</h2>
                </div>
            </div>
            <div class="col">
                <div class="m-2 align-content-center">
                    <div>
                    <% if (locals.user) { %>
                        <a href="plant?username=<%=user.username%>&id=cock'scomb" >
                    <% } else { %>
                        <a href="plant?id=cock'scomb">
                    <% } %>
                            <img class = "rounded mx-auto d-block" src="../img/bedding/cock'scomb.jpg" alt="Cock's Comb" height="300" width= "350">
                        </a>
                        
                    </div>
                    <h1 class="text-center">Cock's Comb</h1>
                    <h2 class="text-center">Price: $1.00</h2>
                </div>
            </div>
                
        </div>

        <div class="row">
            <div class="col-lg-auto col-md-auto col-sm-auto">
                <div class="m-2 align-content-center">
                    <div>
                    <% if (locals.user) { %>
                        <a href="plant?username=<%=user.username%>&id=hypoestessplashselectmix" >
                    <% } else { %>
                        <a href="plant?id=hypoestessplashselectmix">
                    <% } %>
                            <img class = "rounded mx-auto d-block" src="../img/bedding/hypoestessplashselectmix.jpg" alt="Hypoestes Splash Select Mix" height="300" width= "350">
                        </a>
                    </div>
                    <h1 class="text-center">Hypoestes Splash</h1>
                    <h2 class="text-center">Price: $1.00</h2>
                </div>
            </div>
            <div class="col">
                <div class="m-2 align-content-center">
                <% if (locals.user) { %>
                    <a href="plant?username=<%=user.username%>&id=mossrose" >
                <% } else { %>
                    <a href="plant?id=mossrose">
                <% } %>
                        <img class = "rounded mx-auto d-block" src="../img/bedding/mossrose.jpg" alt="Moss Rose" height="300" width= "350">
                    </a>
                    <h1 class="text-center">Moss Rose</h1>
                    <h2 class="text-center">Price: $1.00</h2>
                </div>
            </div>
            <div class="col">
                <div class="m-2 align-content-center">
                    <div>
                    <% if (locals.user) { %>
                        <a href="plant?username=<%=user.username%>&id=geraniums" >
                    <% } else { %>
                        <a href="plant?id=geraniums">
                    <% } %>
                            <img class = "rounded mx-auto d-block" src="../img/bedding/geraniums.jpg" alt="Geraniums" height="300" width= "300">
                        </a>
                       
                    </div>
                    <h1 class="text-center">Geraniums</h1>
                    <h2 class="text-center">Price: $5.00</h2>
                </div>
            </div>
                
        </div>

        <div class="row">
            <div class="col">
                <div class="m-2 align-content-center">
                    <div>
                    <% if (locals.user) { %>
                        <a href="plant?username=<%=user.username%>&id=carnation" >
                    <% } else { %>
                        <a href="plant?id=carnation">
                    <% } %>
                            <img class = "rounded mx-auto d-block"  src="../img/bedding/carnation.jpg" alt="Carnation" height="300" width= "350">
                        </a>
                    </div>
                    <h1 class="text-center">Carnation</h1>
                    <h2 class="text-center">Price: $1.25</h2>
                </div>
            </div>
            <div class="col">
                <div class="m-2 align-content-center">
                    <div>
                    <% if (locals.user) { %>
                        <a href="plant?username=<%=user.username%>&id=columbine" >
                    <% } else { %>
                        <a href="plant?id=columbine">
                    <% } %>
                            <img class = "rounded mx-auto d-block" src="../img/bedding/columbine.jpg" alt="Columbine" height="300" width= "350">
                        </a>
                        
                    </div>
                    <h1 class="text-center">Columbine</h1>
                    <h2 class="text-center">Price: $3.00</h2>
                </div>
            </div>
            <div class="col">
                <div class="m-2 align-content-center">
                    <div>
                    <% if (locals.user) { %>
                        <a href="plant?username=<%=user.username%>&id=dianthus" >
                    <% } else { %>
                        <a href="plant?id=dianthus">
                    <% } %>
                            <img class = "rounded mx-auto d-block"  src="../img/bedding/dianthus.jpg" alt="Dianthus" height="300" width= "300">
                        </a>
                        
                    </div>
                    <h1 class="text-center">Dianthus</h1>
                    <h2 class="text-center">Price: $1.00</h2>
                </div>
            </div>
                
        </div>

        <div class="row">
            <div class="col">
                <div class="m-2 align-content-center">
                    <div class="align-items-start">
                    <% if (locals.user) { %>
                        <a href="plant?username=<%=user.username%>&id=doublepetunia" >
                    <% } else { %>
                        <a href="plant?id=doublepetunia">
                    <% } %>
                            <img class = "rounded mx-auto d-block" src="../img/bedding/doublepetunia.jpg" alt="Double Pentunia" height="200" width= "250">
                        </a>
                        
                    </div>
                    <h1 class="text-center">Double Pentunia</h1>
                    <h2 class="text-center">Price: $1.00</h2>
                </div>
            </div>
        <!--End Grid-->
    </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    





</body>
</html>