<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
</head>
<body>
    <header>
        <% if (locals.user) { %>
            <h2 class="logo">Welcome, <%= user.username %>!</h2>
            <nav class="navigation">
                <a href="http://localhost:3000/?username=<%= user.username %>">Home</a>
                <a href="http://localhost:3000/About?username=<%= user.username %>">About</a>
                <a href="#">Contact</a>
                <a href="http://localhost:3000/succulents?username=<%= user.username %>">Succulent</a>
                <a href="http://localhost:3000/beddings?username=<%= user.username %>">Bedding</a>
                <button class="btnLogin-popup" onclick="location.href='http://localhost:3000/cart?username=<%= user.username %>';" >Cart</button>
                <link rel="stylesheet" href="../styles/style.css">
            </nav>  
            <% } %>
    </header>
    <script>
        var plantAmount = parseFloat(plant.Quantity);
        var plantPrice = parseFloat(plant.Price) * plantAmount;
        var cartItemPrice = document.getElementsByClassName(cartItemPrice).innerHTML("price:" + plantPrice);
    </script>
    <% for (plant of user.cart) { %> 
        <div class="cartItem">
            <div class="cartBody">
                <a href="plant?id=<%plant.PlantName%>">
                    <img  class = "cartImg" src="/img/<%=plant.Type + "/" + plant.Picture%>.jpg" alt=" <%= plant.PlantName %>"  height="350" width= "400">
                </a>
                <div class="cartItemQuantity">Quantity: <%= plant.Quantity %></div>
                <div class="cartItemPrice">Price: <%= plant.Price * plant.Quantity %></div>
            </div>
        </div>
    <% } %>

</body>
</html>