<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= plant.PlantName %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/style.css">
    <script>
        function sendToCart() {
            var userURL = "";
            "<% if (locals.user) { %>"
                userURL = "<%= user.username %>";
            "<% } %>"
            var plantName = "<%= plant.Picture %>";
            var quantity = document.getElementById("amountInput").value;
            var URL = "/addtocart?user=" + userURL + "&plantpid=" + plantName + "&useramount=" + quantity;
            var xhr = new XMLHttpRequest();
            xhr.open('GET', URL);
            xhr.send();
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4) {
                    if (xhr.status == 200) {
                        document.getElementById("response").innerHTML = xhr.responseText;
                    }
                    else
                        alert('Error: ' + xhr.status);
                }
            }
        }
    </script>
</head>
<body id = "body" style="background: fixed white;">
    <header>
        <% if (locals.user) { %>
            <h2 class="logo">Welcome, <%= user.username %>!</h2>
            <nav class="navigation">
                <a href="http://localhost:3000/?username=<%= user.username %>">Home</a>
                <a href="http://localhost:3000/About?username=<%= user.username %>">About</a>
                <a href="#">Contact</a>
                <a href="http://localhost:3000/succulents?username=<%= user.username %>">Succulent</a>
                <a href="http://localhost:3000/beddings?username=<%= user.username %>">Bedding</a>
                <button class="btnLogin-popup" onclick="location.href='http://localhost:3000/cart?username=<%= user.username %>';" >Cart</button>
            </nav>  
        <% } else { %>
        <h2 class="logo">Plant Store</h2>
        <nav class="navigation">
            <a href="http://localhost:3000/">Home</a>
            <a href="http://localhost:3000/About">About</a>
            <a href="#">Contact</a>
            <a href="http://localhost:3000/succulents">Succulent</a>
            <a href="http://localhost:3000/beddings">Bedding</a>
            <button class="btnLogin-popup">Login</button>
        </nav>
        <% } %>
    </header>
    <div id="plantInfo">
        <img class = "rounded mx-auto d-block" src="/img/<%=plant.Type + "/" + plant.Picture%>.jpg" alt=" <%= plant.PlantName %>"  height="350" width= "400">
        <br>
        <h1 class="text-center display-3"><%= plant.PlantName %></h1>
        <h2 class="text-center display-5"><%= plant.Price %> </h2>
        <% if (locals.user) { %>
        <div class="row d-flex justify-content-center">
            <input type="number" id="amountInput" class="form-control justify-content-center"style="width: 80px;"/>
        </div>
        <div class="row d-flex justify-content-center">
            <button id = "order" type="button" class="btn-success" style="width: 80px;" onclick="sendToCart()">Add</button>
        </div>
        <p id="response" style="text-align: center; margin-top: 10px; margin-bottom: -5px;"></p>
        <% } %>
        <% for (sentence of plant.Advice) { %>
            <p class="text-center display-6"><%= sentence %></p>
        <% } %>
    </div>
   
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>